[Unit]
Description=Set wallpaper with feh
Requires=i3.service
After=i3.service

[Service]
ExecStart=/usr/bin/feh --bg-scale %h/.local/wallpaper.jpg

[Install]
WantedBy=i3.service
